.submit-localisation, .go-to-artist, .go-to-fan {
	background: -webkit-linear-gradient(top, #67ae55, #578843);
	background-color: #69a74e;
	-webkit-box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	font-size: 19px;
	line-height: 126%;
	padding: 10px !important;
	font-weight: normal !important;
	text-rendering: optimizelegibility;
	border: 0px;
	-webkit-border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	width: 10%;
	display: inline-block;
}
.go-to-artist, .go-to-fan {
	width: 190px;
	margin-right: 20px;
}

.submit-text {
	padding: 10px !important;
	margin-top: 10px !important;
	width: 50%;
	display: inline-block;
}

.registration-form {
	margin-bottom: 0px;
	padding-bottom: 0px;
}