/* navbar */

.navbar {
    height: 64px;
    margin-bottom: 10px;
}

.navbar-inner {
    height: 100%;
}

.navbar .header-image {
    position: absolute;
    top: 0px;
    right: 10px;
}

.navbar .brand {
    font-size: 32px;
    line-height: 44px;
}


/* map */

#gmap {
    border: 1px solid black;
    display: inline-block;
}

#gmap img {
    max-width: none;
}


/* search page */

.search-results {
    border: solid 1px #D7D7D7;
    float: left;
    width: 45%;
    min-height: 100px;
    margin-right: 10px;

}

.search-result {
    cursor: pointer;
    height: 30px;
}

.selected-artists {
    border: solid 1px #D7D7D7;
    float: left;
    width: 45%;
    min-height: 100px;
}


.selected-artist {

}
