/* navbar */

.navbar {
    height: 64px;
    margin-bottom: 10px;
}

.navbar-inner {
    height: 100%;
}

.navbar .header-image {
    position: absolute;
    top: 0px;
    right: 10px;
}

.navbar .brand {
    font-size: 32px;
    line-height: 44px;
}


/* map */

#gmap {
    border: 1px solid black;
    display: inline-block;
}

#gmap img {
    max-width: none;
}


/* search page */

.search-results {
    border: solid 1px #D7D7D7;
    float: left;
    width: 45%;
    min-height: 100px;
    margin-right: 10px;
    padding: 5px 5px;

}

.artist-box {
    position: relative;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    border: solid grey 1px;
    border-radius: 3px;
    margin-bottom: 5px;
    background-color: #F7F7F7;
}

.artist-box:hover {
    background-color: #D3D3D3;
}

.search-result {

}

.selected-artists {
    border: solid 1px #D7D7D7;
    float: left;
    width: 45%;
    min-height: 100px;
    padding: 5px 5px;
}

.selected-artist {

}

.selected-artist .remove-button {
    position: absolute;
    top: 4px;
    right: 5px;
}
