#gmap {
  border: 1px solid black;
  display: inline-block;
}
#gmap img {
  max-width: none;
}
.header-image {
  display: none;
}


/* */

.nav-search {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 100px;
}

.nav-search .nav-search-query {
    width: 400px;

}

.search-results {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 50%;
    min-height: 100px;
    background-color: white;
    color: black;
}

.section-title {

  font-size: 19px;
  line-height: 126%;
  padding: 10px !important;
  font-weight: normal !important;
  text-rendering: optimizelegibility;
  border: 0px;
  -webkit-border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.remove-button {

  background: -webkit-linear-gradient(top, #67ae55, #578843);
  background-color: #69a74e;
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  font-size: 14px;
  line-height: 126%;
  padding: 6px !important;
  font-weight: normal !important;
  text-rendering: optimizelegibility;
  border: 0px;
  -webkit-border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  float: right;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  width: 10%;
}

.favorite-artist {
  font-size: 18px;
line-height: 28px;
}

/* */

.form-search {

    background: #3b5998;
    margin-bottom: 0px;
    -webkit-box-shadow: inset 0 1px 2px #5f74a9;
    color: #fff;
    width: 100%;
    font: 19px/30px helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 34px;
    -webkit-transition: all .8s;
    -webkit-user-select: none;
}
.form-search input {
    background-color: transparent;
}
.form-search .search-query {
    width: 95%;
    background-color: transparent;
    color: white;
    font-family: helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 19px;
    border: 0px transparent;
}


.navbar {
    position: relative;
}

.navbar-inner {
  background-color: white !important;
}
body {
  background: url(../images/background.jpg) center top no-repeat;
  background-color: #112c52;
}

.search-results {
    /* display: none; */
}

.search-result {
  cursor: pointer;
  height: 30px;
  padding: 3px;
}


.favorite-artists {
  min-height: 100px;
}
.favorite-artist {
  cursor: pointer;
  height: 30px;
  padding: 3px 5px;
  border: solid grey 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #F1F1F1;

}

.favorite-artist:hover {
    background-color: #D7D7D7;
}


/* artist events */

.artist-event {
    position: relative;
    height: 64px;
    cursor: pointer;
    border: solid grey 1px;
    border-radius: 5px;
    background-color: #F1F1F1;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.artist-event:hover {
    background-color: #D7D7D7;
}

.artist-event .event-icon {
    float: left;
    width: 64px;
    height: 64px;
}

.artist-event .content {
    float: left;
    padding-left: 10px;
}

.artist-event .content .artist-name {
    font-weight: bold;
}

.artist-event .btn-buy {
    position: absolute;
    right: 10px;
    top: 20px;

}
