<form name="searchForm" class="form-search">
    <input type="text" name="search" class="input-medium search-query" autocomplete="off"
           placeholder="Search your favorite artist" ng-model="searchTerm"/>

</form>

<div class="search-results">
    <div class="search-result" ng-repeat="artist in searchResults" ng-click="addArtist(artist)">{{artist.name}}</div>
</div>

<div class="selected-artists">
    <div class="selected-artist" ng-repeat="artist in selectedArtists" >{{artist.name}} <button ng-click="removeArtist(artist)">X</button></div>
</div>